/*******   Our SASS   *******/
/* Variables */
/* RGB */
/* Mixins */
/* General */
body {
  margin-bottom: -20px;
  transition: background-color .5s; }
  body h1, body h2 {
    font-family: 'Martel', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0; }
  body p, body button {
    font-family: 'Raleway', sans-serif; }
  body .row {
    margin: 0; }

.col-md-4, .col-lg-4, .col-xs-2, .col-sm-2, .col-xs-8, .col-sm-8 {
  padding: 0; }

.valign-wrapper {
  position: relative; }

.valign {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.valign-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.no-padding {
  padding: 0 !important; }

.no-margin-side {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* Remove input highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.green-button {
  background: #00d172;
  border: 2px solid #00875c;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  background: #00d172;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00d172 0%, #00A672 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d172), color-stop(100%, #00A672));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00d172 0%, #00A672 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00d172 0%, #00A672 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00d172 0%, #00A672 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00d172 0%, #00A672 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .green-button:hover {
    color: #fff;
    background: #00d172;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00d172 0%, #00d172 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d172), color-stop(100%, #00d172));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00d172 0%, #00d172 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00d172 0%, #00d172 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00d172 0%, #00d172 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #00d172 0%, #00d172 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  @media only screen and (max-width: 996px) {
    .green-button {
      font-size: 21px;
      display: block;
      margin: 0 auto;
      padding: 0 20px; } }

/* NavBar */
/* Navbar General */
nav {
  height: 70px;
  background: #fff;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  z-index: 999 !important;
  /* Navbar Desktop*/
  /* Navbar Mobile*/ }
  nav .navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%; }
  nav .logo {
    margin: 8px auto 8px 10px;
    max-width: 220px; }
    @media only screen and (max-width: 380px) {
      nav .logo {
        margin: 9px auto 9px 10px;
        max-width: 200px; } }
    @media only screen and (max-width: 360px) {
      nav .logo {
        margin: 11px auto 11px 10px;
        max-width: 190px; } }
  nav #nav-desktop {
    background: #fff; }
    @media only screen and (max-width: 995px) {
      nav #nav-desktop {
        display: none; } }
    nav #nav-desktop .nav-list {
      font-family: 'Raleway';
      font-weight: 400;
      float: left; }
      @media only screen and (max-width: 1350px) {
        nav #nav-desktop .nav-list {
          padding-left: 80px; } }
      nav #nav-desktop .nav-list ul {
        margin: 0;
        padding: 0; }
      nav #nav-desktop .nav-list li {
        margin: 22px 10px;
        display: inline-block; }
        nav #nav-desktop .nav-list li .nav-list-item {
          color: #7c7c7c;
          font-size: 18px;
          padding: 0 5px;
          cursor: pointer;
          border-radius: 4px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          nav #nav-desktop .nav-list li .nav-list-item:hover {
            background: rgba(0, 0, 0, 0.2);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
        nav #nav-desktop .nav-list li a {
          text-decoration: none; }
      @media only screen and (max-width: 995px) {
        nav #nav-desktop .nav-list {
          display: none; } }
    nav #nav-desktop .contact-button button {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      padding: 5px 20px;
      font-size: 18px;
      margin: 15px 0;
      float: right;
      border: 1px solid #00875c; }
  @media only screen and (min-width: 996px) {
    nav #nav-mobile {
      display: none; } }
  nav #nav-mobile .nav-buttons {
    float: right;
    padding-top: 11px; }
    nav #nav-mobile .nav-buttons .call-icon {
      font-size: 38px !important;
      color: #0470BA;
      display: inline-block;
      margin: 0 5px; }
      @media only screen and (max-width: 340px) {
        nav #nav-mobile .nav-buttons .call-icon {
          margin-right: 0; } }
    nav #nav-mobile .nav-buttons .menu-icon {
      font-size: 42px !important;
      color: #0470BA;
      margin: 0 5px;
      display: inline-block; }

#menu-logo {
  padding: 0 !important;
  margin-top: 30px; }
  #menu-logo a {
    background: none;
    box-shadow: none; }
  #menu-logo img {
    padding: 0 !important;
    margin: 0 !important;
    height: 80px; }

#menu-effect {
  display: none; }

/* SideNav */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background: url("https://s3.amazonaws.com/market-lab-2.0/menu-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  -webkit-box-shadow: 6px 0 17px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 6px 0 17px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 6px 0 17px 0 rgba(0, 0, 0, 0.6); }

/* The navigation menu links */
.sidenav a {
  padding: 8px 12px;
  margin: 10px 10px;
  font-family: 'Quicksand';
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.6); }

#call-btn-mobile {
  background: none;
  padding: 0; }
  #call-btn-mobile button {
    background-color: #0470BA;
    border: none;
    padding: 10px;
    width: 100%;
    color: #0E3744;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.6); }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  padding-top: 10px;
  padding-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/* Header */
header {
  background: url("https://s3.us-east-2.amazonaws.com/cash-house-express/sell-your-house-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  color: #fff;
  z-index: 1 !important;
  margin-top: 70px !important; }
  @media only screen and (max-width: 992px) {
    header {
      background: url("");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #34a7d7; } }
  header img {
    max-width: 100%; }
    @media only screen and (min-width: 993px) {
      header img {
        display: none; } }
  header .mask {
    background-color: rgba(52, 167, 215, 0.95);
    position: absolute;
    height: 530px;
    width: 100%;
    margin: 0 -5px;
    -webkit-clip-path: polygon(0 0, 645px 0, 705px 100%, 0% 100%);
    clip-path: polygon(0 0, 645px 0, 705px 100%, 0% 100%); }
    @media only screen and (max-width: 996px) {
      header .mask {
        height: 570px; } }
    @media only screen and (max-width: 992px) {
      header .mask {
        display: none; } }
  header .header-content {
    position: relative;
    height: 100%;
    padding: 50px 0 !important; }
    @media only screen and (max-width: 420px) {
      header .header-content {
        padding: 10px 0 !important; } }
    @media only screen and (max-width: 360px) {
      header .header-content {
        padding: 5px !important; } }
    header .header-content h1 {
      color: #fff;
      text-align: left;
      font-family: 'Raleway', serif;
      font-weight: 400;
      font-size: 1.5em;
      padding: 15px 50px;
      margin: 0; }
      @media only screen and (max-width: 992px) {
        header .header-content h1 {
          text-align: center;
          font-size: 1.5em;
          padding: 15px 0; } }
    header .header-content h2 {
      color: #fff;
      font-family: 'Martel', serif;
      font-weight: bolder;
      text-align: left;
      font-size: 3.5em;
      margin: 0;
      padding: 15px 50px;
      line-height: 75px; }
      @media only screen and (max-width: 992px) {
        header .header-content h2 {
          text-align: center;
          font-size: 2.2em !important;
          line-height: 45px !important;
          padding: 15px 0; } }
    header .header-content p {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      text-align: left;
      font-size: 1.6em;
      max-width: 600px;
      margin: 0;
      display: block;
      line-height: 1.4em;
      padding: 15px 50px; }
      @media only screen and (max-width: 992px) {
        header .header-content p {
          text-align: center;
          font-size: 1.4em;
          max-width: 100%;
          padding: 15px 0; } }
      @media only screen and (max-width: 330px) {
        header .header-content p {
          padding: 10px;
          font-size: 1.4em; } }
    header .header-content a {
      padding: 0 50px;
      margin: 0 auto; }
      header .header-content a button {
        font-size: 25px;
        padding: 0 30px;
        height: 60px;
        margin: 15px 0 30px 0; }
        @media only screen and (max-width: 992px) {
          header .header-content a button {
            margin: 0 auto;
            height: 50px;
            font-size: 22px; } }
        @media only screen and (max-width: 360px) {
          header .header-content a button {
            font-size: 20px; } }

/* About */
#about {
  background-color: #fff;
  padding: 20px 10px; }
  #about img {
    margin: 20px auto;
    max-width: 200px; }
  #about h2 {
    margin: 20px auto;
    font-size: 2.4em;
    color: #0470BA; }
    @media only screen and (max-width: 330px) {
      #about h2 {
        font-size: 2.4em; } }
  #about p {
    max-width: 750px;
    font-size: 1.4em;
    color: #636363;
    margin: 20px auto; }

/* Sell Your House */
#sell-your-house {
  background: #f2f2f2;
  padding: 30px 0; }
  #sell-your-house h2 {
    text-align: center;
    color: #0470BA;
    font-size: 2.4em; }
  #sell-your-house h3 {
    text-align: center;
    color: #0470BA;
    font-size: 1.8em;
    padding: 12px 0;
    margin: 0; }
  #sell-your-house .step-cards {
    display: block;
    margin: 0 auto;
    max-width: 1110px; }
    @media only screen and (max-width: 1250px) {
      #sell-your-house .step-cards {
        max-width: 1020px; } }
    @media only screen and (max-width: 1150px) {
      #sell-your-house .step-cards {
        max-width: 960px; } }
    #sell-your-house .step-cards .step-card {
      border-top: 5px solid #0470BA;
      background: #fff;
      margin: 20px 10px;
      max-width: 350px;
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 1250px) {
        #sell-your-house .step-cards .step-card {
          max-width: 320px; } }
      @media only screen and (max-width: 1150px) {
        #sell-your-house .step-cards .step-card {
          max-width: 300px; } }
      @media only screen and (max-width: 400px) {
        #sell-your-house .step-cards .step-card {
          max-width: 94%; } }
      @media only screen and (max-width: 990px) {
        #sell-your-house .step-cards .step-card {
          margin: 20px auto; } }
      #sell-your-house .step-cards .step-card h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 23px; }
      #sell-your-house .step-cards .step-card img {
        width: 100%;
        padding: 0; }
      #sell-your-house .step-cards .step-card span {
        font-family: 'Martel', serif;
        font-size: 30px;
        color: #0470BA;
        padding: 0; }

/* Advantages */
#advantages {
  padding: 30px 10px; }
  #advantages h2 {
    color: #0470BA;
    text-align: center;
    margin: 15px auto; }
  #advantages .advantages-card {
    display: block;
    background: #fff;
    margin: 30px auto 0 auto;
    width: 96%;
    position: relative;
    z-index: 10;
    max-width: 700px; }
    @media only screen and (max-width: 992px) {
      #advantages .advantages-card {
        text-align: center; } }
    #advantages .advantages-card h3 {
      font-family: 'Martel', serif;
      font-weight: 400;
      color: #0470BA;
      padding: 10px 0 5px 0; }
    #advantages .advantages-card p {
      font-size: 18px;
      padding-bottom: 20px;
      max-width: 500px;
      margin: 0 auto; }
    #advantages .advantages-card img {
      max-width: 180px;
      display: block;
      margin: 20px auto 0 auto; }
    #advantages .advantages-card .sold-img {
      margin: 10px auto; }

.slide-effect {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block; }
  .slide-effect .advantages-card {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5); }
  .slide-effect .cta-button {
    border: 1px solid #d1d1d1;
    transform: translate(0, -71px);
    background: #fff;
    position: relative;
    z-index: -1;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    width: 96%;
    max-width: 698px;
    transition: all 0.2s;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 992px) {
      .slide-effect .cta-button {
        transform: translate(0, 0); } }
    .slide-effect .cta-button button {
      font-size: 20px;
      padding: 0 20px;
      height: 40px;
      margin: 10px auto;
      display: block; }
  .slide-effect:hover .advantages-card {
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4); }
  .slide-effect:hover .cta-button {
    transform: translate(0, 0);
    transition: all 0.2s;
    z-index: 2; }

/* Slogan */
#slogan {
  background: url("https://s3.amazonaws.com/market-lab-2.0/slogan-parallax.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #slogan h1 {
    color: #fff;
    font-size: 3.3em;
    width: 100%;
    line-height: 70px;
    text-align: center;
    text-shadow: -4px 3px 14px rgba(0, 0, 0, 0.9);
    font-weight: 400; }
    @media only screen and (max-width: 350px) {
      #slogan h1 {
        font-size: 3em; } }

/* Form */
#contact {
  background-color: #0470BA;
  padding-top: 30px;
  padding-bottom: 40px; }
  #contact h1 {
    color: #fff;
    font-size: 3em;
    line-height: 60px;
    padding: 20px 10px; }
  #contact p {
    font-size: 1.5em;
    margin: 10px auto 20px auto;
    max-width: 420px;
    color: #636363; }
  #contact form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 10px 20px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3); }
    #contact form button {
      width: 200px;
      height: 60px;
      border: 2px solid #0470BA;
      display: block;
      margin: 20px auto;
      color: #0470BA;
      font-size: 30px;
      font-family: 'Oswald';
      font-weight: 300;
      background-color: #fff;
      -webkit-transition: all, 0.3s;
      -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s; }
      #contact form button:hover {
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
        background-color: #0470BA;
        color: #fff; }
  #contact .form-inputs {
    width: 500px;
    max-width: 100%;
    display: block;
    margin: 0 auto !important; }
    #contact .form-inputs .input-field {
      margin-bottom: 15px; }
      #contact .form-inputs .input-field input {
        border: 1px solid #0470BA;
        border-left: 1px solid #0470BA;
        margin: 10px 3% 0 3%;
        box-sizing: border-box;
        height: 40px;
        width: 600px;
        max-width: 94%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #contact .form-inputs .input-field input:focus {
          -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
          max-width: 98%;
          border: none;
          border-left: 4px solid #0470BA;
          box-sizing: border-box;
          margin: 10px 1% 0 1%;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
  #contact .label-icon {
    padding-bottom: 10px; }
    #contact .label-icon i {
      padding-bottom: 0 !important;
      width: 40px;
      margin-right: 5px; }
  #contact .input-field label {
    color: #0470BA;
    margin-bottom: 0;
    margin-top: 6px;
    max-width: 100px;
    padding: 0 !important;
    font-size: 20px;
    font-family: 'Quicksand';
    font-weight: 400; }
  #contact .input-field .prefix.active {
    color: #0470BA; }
  #contact .material-icons {
    color: #0470BA;
    padding: 5px;
    font-size: 30px; }

.validation-msg {
  color: red; }

.validation-name {
  display: none; }

.validation-phone {
  display: none; }

.validation-email {
  display: none; }

/* Footer */
.line {
  height: 4px;
  width: 100%;
  background-color: #055175; }
  @media only screen and (max-width: 750px) {
    .line {
      display: none; } }

footer {
  background-color: #232323; }
  footer #logo-footer {
    padding: 7px 0; }
    footer #logo-footer img {
      height: 75px;
      margin: 0 auto;
      display: block; }
  footer .footer-nav {
    background-color: #fff; }
    @media only screen and (max-width: 750px) {
      footer .footer-nav {
        display: none; } }
    footer .footer-nav ul {
      display: table;
      margin: 0 auto;
      padding: 10px 0;
      background-color: #fff; }
      footer .footer-nav ul li {
        display: inline-block;
        font-family: 'Quicksand';
        font-weight: 400;
        padding: 10px 20px;
        font-size: 18px;
        color: #0E3744;
        border-radius: 4px;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s; }
        footer .footer-nav ul li:hover {
          background-color: rgba(0, 0, 0, 0.1);
          -webkit-transition: all, 0.3s;
          -moz-transition: all, 0.3s;
          -ms-transition: all, 0.3s;
          -o-transition: all, 0.3s;
          transition: all, 0.3s; }
  footer .copyright {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center; }
    footer .copyright p {
      padding: 10px;
      margin: 0; }

.modal-content {
  border-radius: 0;
  padding: 30px; }
  .modal-content img {
    display: block;
    margin: 15px auto;
    width: 80px; }
  .modal-content h1 {
    text-align: center;
    color: #0E3744;
    margin: 20px 0;
    line-height: 50px; }
  .modal-content p {
    font-size: 20px;
    text-align: center; }
  .modal-content button {
    font-size: 22px;
    font-family: 'Quicksand';
    border-radius: 0;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #0470BA;
    display: block;
    margin: 20px auto 15px auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 2px 6px 0px transparent;
    -moz-box-shadow: 0px 2px 6px 0px transparent;
    box-shadow: 0px 2px 6px 0px transparent;
    border: none; }
    .modal-content button:hover {
      color: #0470BA;
      background-color: #fff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3); }
