/*******   Our SASS   *******/

/* Variables */

/* RGB */

$dark-blue: #0470BA;
$blue: #0470BA;
$dark-navy-blue: #021F2D;
$green: #00d172;
$dark-grey: #636363;
$grey: #878787;
$light-grey: #C1C1C1;

/* Mixins */

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin translate ($x-angle, $y-angle) {
  -webkit-transform: translate($x-angle, $y-angle);
  -moz-transform: translate($x-angle, $y-angle);
  -o-transform: translate($x-angle, $y-angle);
  -ms-transform: translate($x-angle, $y-angle);
  transform: translate($x-angle, $y-angle);
}

@mixin translateY ($y-angle) {
  -webkit-transform: translateY($y-angle);
  -moz-transform: translateY($y-angle);
  -o-transform: translateY($y-angle);
  -ms-transform: translateY($y-angle);
  transform: translateY($y-angle);
}

@mixin scaleY ($y-angle) {
  -webkit-transform: scaleY($y-angle);
  -moz-transform: scaleY($y-angle);
  -o-transform: scaleY($y-angle);
  -ms-transform: scaleY($y-angle);
  transform: scaleY($y-angle);
}

@mixin background ($url) {
  background: url($url) ;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content};
}

/* General */

body {
    margin-bottom: -20px;
    transition: background-color .5s;
    h1, h2, {
        font-family: 'Martel', sans-serif;
        margin: 0;
        padding: 0; }
    p , button{ font-family: 'Raleway', sans-serif; }
    .row { margin: 0; }

    a { text-decoration: none !important; }
}

.col-md-4, .col-lg-4, .col-xs-2, .col-sm-2, .col-xs-8 , .col-sm-8 { padding: 0; }

.valign-wrapper { position: relative; }

.valign {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

.valign-vertical {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
}

.no-padding{ padding: 0 !important; }
.no-margin-side{
    margin-left: 0 !important;
    margin-right: 0 !important; }

/* Remove input highlight */
input:focus,
select:focus,
textarea:focus,
button:focus { outline: none; }

.green-button {
    background: #00d172;
    border: 2px solid #00875c;
    color: #fff;
    @include border-radius (5px);
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    @include linearGradient(#00d172, #00A672);
    @include transition(all 0.4s);
    &:hover {
        color: #fff;
        @include linearGradient(#00d172, #00d172);
        @include transition(all 0.4s); }
    @media only screen and ( max-width: 996px ) {
        font-size: 21px;
        display: block;
        margin: 0 auto;
        padding: 0 20px;
    }
}


/* NavBar */

/* Navbar General */
nav {
    height: 70px;
    background: #fff;
    border-radius: 0 !important;
    @include box-shadow (0, 2px, 3px, 0, rgba(0, 0, 0, 0.5)) ;
    z-index: 999 !important;

    .navbar-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%; }

    .logo {
        margin: 8px auto 8px 10px;
        max-width: 220px;
        @media only screen and ( max-width: 380px ) {
            margin: 9px auto 9px 10px;
            max-width: 200px;
        }
        @media only screen and ( max-width: 360px ) {
            margin: 11px auto 11px 10px;
            max-width: 190px;
        }
    }


    /* Navbar Desktop*/

    #nav-desktop  {
        background: #fff;
        @media only screen and ( max-width: 995px ) { display: none; }

    .nav-list {
        font-family: 'Raleway';
        font-weight: 400;
        float: left;
        @media only screen and (max-width: 1350px) { padding-left: 80px; }

        ul { margin: 0; padding: 0; }
        li {
            margin: 22px 10px;
            display: inline-block;
            .nav-list-item {
                color: #7c7c7c;
                font-size: 18px;
                padding: 10px 15px;
                cursor: pointer;
                border-bottom: 2px solid #fff;
                @include transition(all 0.3s);
                &:hover {
                    color: #3f3e3e;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                    @include transition(all 0.3s); }
            }
            a { text-decoration: none; }
        }

        @media only screen and ( max-width: 995px ) { display: none; }
        }
        .contact-button {
            button {
                @include border-radius (20px);
                padding: 5px 20px;
                font-size: 18px;
                margin: 15px 0;
                float: right;
                border: 1px solid #00875c;
            }
        }
    }

    /* Navbar Mobile*/
    #nav-mobile {
        @media only screen and ( min-width: 996px ) { display: none; }
        .nav-buttons {
            float: right;
            padding-top: 11px;
            .call-icon {
                font-size: 38px !important;
                color: $blue;
                display: inline-block;
                margin: 0 5px;
                animation-name: trin;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                    @keyframes trin {
                        from {
                            transform:rotate3d(0, 0, 1, 0deg);
                        }
                        5%, 17%, 29%, 41%, 53% {
                            transform: rotate3d(0, 0, 1, 0deg);
                        }
                        8%, 20%, 32%, 44%, 56% {
                            transform: rotate3d(0,0,1,10deg);
                        }
                        11%, 23%, 35%, 47%, 59% {
                            transform: rotate3d(0,0,1,0deg);
                        }
                        14%, 26%, 38%, 50%, 62% {
                            transform: rotate3d(0,0,1,-10deg);
                        }
                        65% {
                            transform:rotate3d(0, 0, 1, 0deg);
                        }
                    }

                @media only screen and ( max-width: 340px ) { margin-right: 0; }
            }
            .menu-icon {
                font-size: 42px !important;
                color: $blue;
                margin: 0 5px;
                display: inline-block;
            }
        }
    }
}

#menu-logo {
    padding: 0!important;
    margin-top: 30px;
    a {
        background: none;
        box-shadow: none;}
    img {
        padding: 0 !important;
        margin: 0 !important;
        width: 220px;
    }
}

#menu-effect { display: none; }


/* SideNav */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    @include box-shadow (6px, 0, 17px, 0, rgba(0, 0, 0, 0.6)) ;
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 12px;
    margin: 10px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: $blue;
    border: 1px solid $blue;
    display: block;
    border: 1px solid #c1c1c1;
    @include border-radius(3px);
    @include linearGradient(#fff, #f0f0f0);

}

.no-border { border: none !important; }

#call-btn-mobile {
    background: none;
    padding: 0;
    background: $blue;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 24px;
    padding: 0;
    border: 2px solid #00875c;
    @include linearGradient(#00d172, #00A672);
    i {
        font-size: 30px;
        margin: 12px 10px 12px 0;
        display: inline-block; }
    p {
        display: inline-block;
        margin-bottom: 0;
        @include translateY(-6px); }

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    font-size: 36px;
    color: $blue;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-top: 10px;
    padding-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Header */

#home{
    background-size: cover;
    @include background ('https://s3.us-east-2.amazonaws.com/cash-house-express/sell-your-house-header.jpg');
    @media only screen and (max-width: 992px) {
        @include background ('');
        background-color: rgba(52, 167, 215, 1);
    }
}

#home-2{
    background-size: cover;
    @include background ('https://s3.us-east-2.amazonaws.com/cash-house-express/sell-your-house-header2.jpg');
    @media only screen and (max-width: 992px) {
        @include background ('');
        background-color: rgba(52, 167, 215, 1);
    }
}

header {

    color: #fff;
    z-index: 1 !important;
    margin-top: 70px !important;

    h1 {
        color: #fff;
        text-align: left;
        font-family: 'Raleway', serif;
        font-weight:  600;
        letter-spacing: 1.2px;
        font-size: 1.5em;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        padding: 15px 50px;
        margin: 0;
        @media only screen and ( max-width: 992px ) {
            text-align: center;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
            background: #00A672;
            font-size: 1.5em;
            padding: 10px 10px;
        }
    }

    img{
        max-width: 100%;
        @media only screen and (min-width: 993px) { display: none; }
    }

    .mask{
        background-color: rgba(52, 167, 215, 0.95);
        position: absolute;
        height: 531px;
        width: 100%;
        margin: 0 -5px;
        -webkit-clip-path: polygon(0 0, 645px 0, 705px 100%, 0% 100%);
        clip-path: polygon(0 0, 645px 0, 705px 100%, 0% 100%);
        @media only screen and (max-width: 996px) {height: 570px;}
        @media only screen and ( max-width: 1500px ) {
            -webkit-clip-path: polygon(0 0, 550px 0, 620px 100%, 0% 100%);
            clip-path: polygon(0 0, 550px 0, 620px 100%, 0% 100%);
        }        
        @media only screen and ( max-width: 992px ) {display: none;}
    }

    .mask-form{
        height: 659px;
    }

    .h1-desktop { @media only screen and ( max-width: 992px ) { display:none; } }
    .h1-mobile { @media only screen and ( min-width: 992px ) { display:none; } }

    .header-content {
        position: relative;
        height:  100%;
        padding: 50px 0 !important;
        @media only screen and (max-width: 420px) {
            padding: 10px !important;
        }
        @media only screen and (max-width: 360px) {
            padding:  10px !important;
        }

        h2 {
            color: #fff;
            font-family: 'Martel', serif;
            font-weight: bolder;
            text-align: left;
            font-size: 3.5em;
            margin: 0;
            padding: 15px 50px;
            line-height: 75px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
            @media only screen and ( max-width: 1500px ) { font-size: 3em; }
            @media only screen and ( max-width: 1200px ) { font-size: 2.8em; }
            @media only screen and ( max-width: 992px ) {
                text-align: center;
                font-size: 2.5em !important;
                line-height: 45px !important;
                padding: 15px 0 0 0; }
            @media only screen and ( max-width: 420px ) { font-size: 2em !important; }
            @media only screen and ( max-width: 330px ) { font-size: 1.8em !important; }
        }

        p {
            color: #fff;
            font-family: 'Raleway', sans-serif;
            text-align: left;
            font-size: 1.6em;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
            max-width: 600px;
            margin: 0;
            display: block;
            line-height: 1.4em;
            padding: 15px 50px;            

            @media only screen and ( max-width: 992px ) {
                text-align: center;
                 font-size: 1.4em;
                max-width: 100%;
                padding: 15px 20px 0;
            }

            @media only screen and (max-width: 330px) { padding: 10px; }

            b { font-size: 1.3em; }
        }

        a{
            padding: 0 50px;
            margin: 0 auto;
            button {
                font-size: 25px;
                padding: 0 30px;
                height: 60px;
                margin: 14px 0 30px 0;
                @media only screen and (max-width: 992px) {
                    margin: 0 auto;
                    height: 50px;
                    font-size: 22px; }
                @media only screen and (max-width: 360px) { font-size: 19px; }
            }
        }
    }

    form {
        
        max-width: 600px;
        
        @media only screen and (max-width: 992px) { margin: 0 auto;}

        button {
            width: 200px;
            height: 60px;
            border: 2px solid #fff;
            display: block;
            margin: 20px auto;
            color: #fff;
            font-size: 30px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            background-color: rgba(52, 167, 215, 0.95);
            @include transition(all, 0.3s);
        
            i { @include translateY(4px); }
            
            &:hover {
                @include transition(all, 0.3s);
                background-color: #fff;
                color: rgba(52, 167, 215, 0.95);                
                i { color: #fff;}
            }
        }
    
        .form-inputs{
            width: 500px;
            max-width: 100%;
            display: block;
            margin: 0 auto 0 auto;
            .input-field {
                margin-bottom: 15px;
                input {
                    border: 1px solid $dark-blue ;
                    border-left: 1px solid $dark-blue ;
                    margin: 10px 3% 0 3%;
                    box-sizing: border-box;
                    height: 40px;
                    width: 600px;
                    max-width: 75%;
                    color: #333;
                    @include transition(all 0.5s);
                    &:focus {
                        @include box-shadow(0px, 2px, 6px, 0px,  rgba(0, 0, 0, 0.3) )
                        max-width: 80%;                        
                        border: none;
                        border-left: 4px solid $dark-blue;
                        box-sizing: border-box;
                        margin: 10px 1% 0 1%;
                        @include transition(all 0.5s);
                    }
                }
            }
        }

        .label-icon {
            padding-bottom: 10px;
            
            i {
                padding-bottom: 0 !important;
                width: 40px;
                @include translateY(10px);                
            }
        }

        .input-field label {
            color: #fff;
            margin-bottom: 0;
            margin-top: 8px;
            max-width: 100px;
            padding: 0 !important;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }

        .input-field .prefix.active {color: $blue;}

        .material-icons {
            color: #fff;
            padding: 5px;
            font-size: 30px;
            margin-left: 7px;
        }

        .validation-msg { color: red; }
        .validation-name { display:none; }
        .validation-phone { display:none; }
        .validation-email { display:none; }
    }




}



/* About */

#about {
    background: #f2f2f2;
    padding: 20px 10px;
    img {
        margin: 20px auto;
        max-width:  200px;  }

    h2 {
        margin: 20px auto;
        font-size: 2.4em;
        color:  $blue;
        @media only screen and (max-width: 330px) {font-size: 2.4em;}
    }

    p {
        max-width: 750px;
        font-size: 1.4em;
        color: $dark-grey;
        margin:  20px auto;
    }
}

/* Sell Your House */

.trigger-hover { height: 84px; }

#sell-your-house {
    background-color: #fff;
    padding: 30px 0;
    h2 {
        text-align: center;
        color: $blue;
        font-size: 2.4em; }
    .step-cards {
        display: block;
        margin: 0 auto;
        max-width: 1110px;
        @media only screen and (max-width: 1250px) { max-width: 1050px; }
        @media only screen and (max-width: 1170px) { max-width: 960px; }
        .step-card {
            border-top: 5px solid #0470BA;
            background: #fff;
            min-height: 285.8px;
            height: 285.8px;
            margin: 20px 10px;
            max-width: 350px;
            @include box-shadow (0, 3px, 5px, 0, rgba(0, 0, 0, 0.3));
            @media only screen and (max-width: 1250px) { max-width: 330px; }
            @media only screen and (max-width: 1170px) { max-width: 300px; }
            @media only screen and (max-width: 992px) { max-width: 350px; }
            @media only screen and (max-width: 450px) { max-width: 94%; }
            @media only screen and (max-width: 990px) { margin: 20px auto; }
            .step-card-header {
                h3 {
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    display: inline-block;
                    color: $blue;
                    font-size: 1.8em;
                    padding: 12px 0;
                    margin: 0 0 0 30px;  }

                i {
                    font-size: 40px;
                    padding: 22px 5px;
                    margin-right: 20px;
                    color: $green;
                    float: right;
                    @include transition(color 0.4s); }
                .off { display: inline-block}
                .active-btn { display: none; }

            }
            .step-img {
                width: 100%;
                padding: 0;
                height: 200px;
                opacity: 1;
                @include transition (height 0.2s, opacity 0.3s);  }

            .step-img-1 { @include background('https://s3.us-east-2.amazonaws.com/cash-house-express/steps/sell-your-house-step-1.jpg'); }
            .step-img-2 { @include background('https://s3.us-east-2.amazonaws.com/cash-house-express/steps/sell-your-house-step-2.jpg'); }
            .step-img-3 { @include background('https://s3.us-east-2.amazonaws.com/cash-house-express/steps/sell-your-house-step-3.jpg'); }

            span {
                font-family: 'Martel', serif;
                font-size: 30px;
                color: $blue;
                padding: 0;
            }
            .step-card-hover {
                background: $blue;
                height: 0;
                opacity: 1;
                button {
                    height: 0;
                    opacity: 0;
                }
            }
            .step-card-p {
                font-size: 0;
                opacity: 0;
                @include transition (opacity 0.3s ease-in, font-size 0.1s linear);
            }
        }
    }
}

.step-hover{
    i {
        display: inline-block !important;
        font-size: 40px !important;
        padding: 22px 5px !important;
        margin-right: 20px !important;
        color: $blue !important;
        @include transition(color 0.4s);
        }
    .off { display: none !important; }
    .active-btn { display: inline-block !important; }
    .step-img {
       height: 0 !important;
       opacity: 0 !important;
       @include transition (height 0.2s, opacity 0.3s);}
   .step-card-hover {
       height: 200px !important;
       position: relative !important;
      @include transition (height 0.2s linear, opacity 0.4s );
      @media only screen and (max-width: 450px) { height: 220px; }
   .step-card-p {
           opacity: 1 !important;
           padding: 15px !important;
           color: #fff !important;
           font-size: 17px !important;
           @include transition (opacity 0.3s ease-in, font-size 0.1s linear);
       }
      .contact-buttons {
           position: absolute !important;
           left: 10% !important;
           top: 50% !important;
           @include translate(-10%, -50%);
           @media only screen and (max-width: 350px) {
           left: 10% !important;
           top: 50% !important;
           @include translate(-10%, -50%);
           }
           button {
               height: 40px !important;
               background: #fff !important;
               color: $blue !important;
               font-size: 18px !important;
               font-weight: 600 !important;
               @include linearGradient(#fff, #e1e1e1);
               border: 1px solid #d1d1d1 !important;
               @include border-radius (2px);
               margin: 0 0 20px 20px !important;
               padding: 5px 15px !important;
               opacity: 1 !important;
               @include transition(all 0.3s);
               &:hover {
                   @include linearGradient(#e1e1e1, #e1e1e1);
                   @include transition(all 0.3s);
                   @include box-shadow(0, 3px, 5px, 0, rgba(0, 0, 0, 0.5)); }
           }
       }
   }
}

/* Advantages */
#advantages{
    padding: 30px 10px;
    h2 {
        color: $blue;
        text-align: center;
        margin: 15px auto; }
    .advantages-card{
        display: block;
        background: #fff;
        margin: 30px auto 0 auto;
        width: 96%;
        position: relative;
        z-index: 10;
        max-width: 700px;
        @media only screen and (max-width: 992px) {text-align: center;}
        h3 {
            font-family: 'Martel', serif;
            font-weight: 400;
            color: $blue;
            padding: 10px 0 5px 0 ; }
        p {
            font-size: 18px;
            padding-bottom: 20px;
            max-width: 500px;
            margin: 0 auto;
            color: $dark-grey;
        }
        img {
            max-width: 180px;
            display: block;
            margin: 20px auto 0 auto;
            @media only screen and (max-width: 992px) { max-width: 150px; } }
        .sold-img { margin: 10px auto; }

    }
}
.slide-effect {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    .advantages-card{ @include box-shadow (0, 0, 3px, 0, rgba(0, 0, 0, 0.5)); }
    .cta-button {
        background: #f2f2f2;
        position: relative;
        transform:translate(0, -71px);
        z-index: -1;
        display: block;
        margin: 0 auto;
        padding: 5px 0;
        width: 96%;
        max-width: 698px;
        transition: all 0.2s;
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        @media only screen and (max-width: 992px) {
            @include translate (0, 0);
            z-index: 1; }
        button {
            font-size: 20px;
            padding: 0 20px;
            height: 40px;
            margin: 10px auto;
            display: block; }
    }
    &:hover {
        .cta-button {
            transform:translate(0, 0);
            transition: all 0.2s;
            z-index: 2; }
    }
}

/* Form */

    .call-button-desktop {
       .col-md-8 { padding: 0; }
       .col-md-4 { padding: 0 0 0 0; }
       max-width: 250px;
       margin: 0 auto !important;
       background: #00A672;
       display: block;
       border: 2px solid #1c776f;
       @include border-radius (8px);
       @media screen and (max-width: 995px) { @include box-shadow (0px, 1px, 3px, 0px, rgba(0,0,0,0.6)); }
       h4 {
       padding: 10.5px 10px 10.5px 0 !important;
       border: none;
       font-family: 'Raleway', sans-serif;
       text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
       font-weight: 600;
       font-size: 19px;
       text-align: center;
       letter-spacing: 0.5px;
       color: #fff;
       line-height: 25px;
       margin: 0;
       z-index: 0 !important;
       position: relative;
        @include border-radius (0 5px 5px 0)
        span {
            font-family: sans-serif !important;
            font-weight: 400;}
       }
       img {
         height: 70px;
         margin: 0;
         z-index: 99 !important;
         position: relative;
       }
    }

    .trin-trin {
        animation-name: trin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes trin {

        from {
            transform:rotate3d(0, 0, 1, 0deg);
        }
        5%, 17%, 29%, 41%, 53% {
            transform: rotate3d(0, 0, 1, 0deg);
        }
        8%, 20%, 32%, 44%, 56% {
            transform: rotate3d(0,0,1,10deg);
        }
        11%, 23%, 35%, 47%, 59% {
            transform: rotate3d(0,0,1,0deg);
        }
        14%, 26%, 38%, 50%, 62% {
            transform: rotate3d(0,0,1,-10deg);
        }
        65% {
            transform:rotate3d(0, 0, 1, 0deg);
        }

    }



    #call-desktop { @media screen and (max-width: 995px) { display: none; } }
    #click-to-call { @media screen and (min-width: 994px) { display: none; } }


#contact {
    background-color: $blue;
    padding-top: 30px;
    padding-bottom: 40px;
    h2{
        color: #fff;
        font-size: 2.5em;
        line-height: 50px;
        padding: 10px;
        letter-spacing: 1.5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600; 
    }
    
    .margin-fix { margin-top: 10px; }
    
    p {
        font-size: 1.5em;
        margin: 20px auto 10px auto;
        max-width: 420px;
        color: $dark-grey; 
    }
    
    form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px 10px;
        background-color: #fff;
        @include box-shadow (0, 7px, 15px, 0, rgba(0, 0, 0, 0.3));
        
        button {
            width: 200px;
            height: 60px;
            border: 2px solid $dark-blue;
            display: block;
            margin: 20px auto;
            color: $dark-blue;
            font-size: 30px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            background-color: #fff;
            @include transition(all, 0.3s);
        
            i { @include translateY(4px); }
            
            &:hover {
                @include transition(all, 0.3s);
                background-color: $dark-blue;
                color: #fff;
                i { color: #fff;}
            }
        }
    
        .form-inputs{
            width: 500px;
            max-width: 100%;
            display: block;
            margin: 20px auto 0 auto !important;
            .input-field {
                margin-bottom: 15px;
                input {
                    border: 1px solid $dark-blue ;
                    border-left: 1px solid $dark-blue ;
                    margin: 10px 3% 0 3%;
                    box-sizing: border-box;
                    height: 40px;
                    width: 600px;
                    max-width: 94%;
                    @include transition(all 0.5s);
                    &:focus {
                        @include box-shadow(0px, 2px, 6px, 0px,  rgba(0, 0, 0, 0.3) )
                        max-width: 98%;
                        border: none;
                        border-left: 4px solid $dark-blue;
                        box-sizing: border-box;
                        margin: 10px 1% 0 1%;
                        @include transition(all 0.5s);
                    }
                }
            }
        }

        .label-icon {
            padding-bottom: 10px;
            
            i {
                padding-bottom: 0 !important;
                width: 40px;
                margin-right: 5px;
            }
        }

        .input-field label {
            color: $dark-blue;
            margin-bottom: 0;
            margin-top: 8px;
            max-width: 100px;
            padding: 0 !important;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }

        .input-field .prefix.active {color: $blue;}

        .material-icons {
            color: $dark-blue;
            padding: 5px;
            font-size: 30px;
            margin-left: 7px;
        }

        .validation-msg { color: red; }
        .validation-name { display:none; }
        .validation-phone { display:none; }
        .validation-email { display:none; }
    }
}


/* Footer */

footer {
    #logo-footer{
        padding: 7px 0;
        background: #f2f2f2;
        img {
            width: 200px;
            margin: 5px auto;
            display: block;
        }
    }
    .footer-nav { background-color: #fff; }
    .copyright {
        background-color: #083f66;
        color: #fff;
        text-align: center;
        p {
            padding: 10px;
            margin: 0;
        }
    }
    #social-share {
      max-width: 190px;
      display: block;
      margin: 0 auto;
      padding: 10px 33px;
      @media only screen and (min-width: 992px) { padding: 10px 0; }
      h3 {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin: 5px auto;
        font-size: 20px;
        font-weight: 300;
        color: $dark-grey; }
    a {
      display: inline-block;
      margin: 5px;
      cursor: pointer; }
    .facebook-share {
      background: url('https://s3.us-east-2.amazonaws.com/total.help/Icons/social-share.png') no-repeat -8px -5px;
      width: 50px;
      height: 50px;
      @media only screen and (min-width: 992px) { @include translate(65px,0); }
     }
    .fb-messenger-share {
      background: url('https://s3.us-east-2.amazonaws.com/total.help/Icons/social-share.png') no-repeat -139px -5px;
      width: 50px;
      height: 50px;
      @media only screen and (min-width: 992px) { display: none; } }
    .whatsapp-share {
      background: url('https://s3.us-east-2.amazonaws.com/total.help/Icons/social-share.png') no-repeat -75px -5px;
      width: 50px;
      height: 50px;
      @media only screen and (min-width: 992px) { display: none; } }
    }
}

.modal-content {
    border-radius: 0;
    padding: 30px;
    img {
        display: block;
        margin: 15px auto;
        width: 80px;
    }
    h1 {
        text-align: center;
        margin: 20px 0;
        line-height: 50px;
    }
    p {
        font-size: 20px;
        text-align: center;
    }
    button {
        font-size: 22px;
        font-family: 'Quicksand';
        border-radius: 0;
        padding: 10px;
        margin-top: 10px;
        color: #fff;
        background-color: $dark-blue;
        display: block;
        margin: 20px auto 15px auto;
        @include transition(all 0.3s);
        @include box-shadow(0px, 2px, 6px, 0px,  rgba(0, 0, 0, 0.0) );
        border: none;
        &:hover {
            color: $dark-blue;
            background-color: #fff;
            @include transition(all 0.3s);
            @include box-shadow(0px, 2px, 6px, 0px,  rgba(0, 0, 0, 0.3) );
        }
    }
}


/*** Thanks ***/

#main-thanks{
    display: block;
    margin: 90px auto 20px;
    width: 300px;

    .thanks-box{
        @include box-shadow(0px, 2px, 6px, 0px,  rgba(0, 0, 0, 0.3) );

        img { max-width: 300px; }

        h2 {
            color: #fff;
            text-align: center;
            background-color: $blue;
            padding: 15px 0;
            font-size: 2.6em;
        }

        p{
            background-color: #f2f2f2;
            font-size: 1.3em;
            padding: 20px 0;
            text-align: center;

        }
    }
}

.uil-ripple-css {
  background: none;
  position: relative;
  width: 250px;
  height: 250px;
}
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
  border-color: #878787;
}
.uil-ripple-css div:nth-of-type(2) {
  border-color: #ffc519;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

/* Loading Modal */

#loading {
    h1 {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        color: $dark-grey;
        text-align: center;
        margin: 15px auto;
        background: #fff; }
    .modal-loading {
        background: #fff;
        width: 300px;
        height: 300px;
        margin: 10% auto;
        border-radius: 4px;
        display: block;
        position: relative;
        .modal-loading-animation{
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate (-50%,-50%);
        }
    }
}

/* Error Modal */

#error-modal {
    .modal-body {
      background: #fff;
      width: 300px;
      height: 350px;
      margin: 10% auto;
      border-radius: 4px;
      display: block;
      text-align: center;
      img {
        display: block;
        margin: 20px auto 10px auto;
        width: 100px; }
      h1 {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: $dark-grey;
        margin: 5px auto; }
      p { font-size: 20px; }
      a {
        cursor: pointer;
        border: 1px solid $grey;
        background: #fff;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: $dark-grey;
        padding: 5px 10px;
        &:hover { background: #f2f2f2; }
      }
    }
}